.header {
  min-height: 100vh;
  position: relative;
  background: url("@img/mainblock/mainblock.webp") no-repeat center / cover fixed;

  @media (min-width: em(621)) {
    min-height: calc(100vh - 36px);
  }

  @media (max-width: em(768)) {
    background-position: 50% -84px;
  }

  .horizontal-mobile & {
    background-position: 0px 0px;
  }

  // .header__container
  &__container {
  }
  // .header__top
  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;

    @include adaptiveValue("padding-top", 20, 18);
    @include adaptiveValue("padding-bottom", 20, 18);

    @media (max-width: em(1180)) {
      padding-right: 18px;
      padding-left: 18px;
      margin: 0 -18px;
    }

    &:before {
      content: "";
      position: fixed;
      z-index: 5;
      left: -100%;
      top: 0;
      width: 100%;
      height: 120px;
      background-color: #000;
      transition: all 0.4s;
      @include adaptiveValue("height", 120, 100);

      @media (max-width: em(620)) {
        @include adaptiveValue("height", 76, 71);
      }
    }

    .menu-open & {
      &:before {
        left: 0;
      }
    }
  }
  // .header__logo
  &__logo {
    position: relative;
    z-index: 5;

    @include adaptiveValue("flex-basis", 290, 176);
  }
  // .header__img
  &__img {
    max-width: 100%;
  }
  // .header__menu
  &__menu {
  }
  // .header__content
  &__content {
    text-align: center;

    .horizontal-mobile & {
      padding-top: 30px;
    }

    @include adaptiveValue("padding-top", 172, 30);
  }
  // .header__title
  &__title {
    position: relative;
    display: inline-block;
    line-height: math.div(88, 72);

    font-family: "Libre Caslon Text", sans-serif;
    color: $mainColor;
    text-align: center;

    @include adaptiveValue("margin-bottom", 38, 130);
    @include adaptiveValue("font-size", 72, 36);

    .horizontal-mobile & {
      font-size: rem(30);
      margin-bottom: 20px;
    }

    &:after {
      content: "";
      background: url("@img/mainblock/mainblock-circle.svg") no-repeat center;
      position: absolute;
      width: 130px;
      height: 128px;

      .horizontal-mobile & {
        display: none;
      }

      @include adaptiveValue("top", 40, 75);

      @media (min-width: em(1181)) {
        left: -116px;
      }

      @media (max-width: em(1180)) {
        width: 94px;
        height: 98px;

        background-size: cover;

        right: 0px;
      }

      animation: rotate 60s infinite linear;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  // .header__subtitle
  &__subtitle {
    line-height: math.div(35, 24);

    @include adaptiveValue("margin-bottom", 54, 20);
    @include adaptiveValue("font-size", 24, 18);
  }
  // .header__btn
  &__btn {
    @media (max-width: em(768)) {
      height: 84px;
      width: 100vw;

      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.menu {
  display: flex;

  @media (max-width: em(1180)) {
    align-items: center;
  }
  // .menu__body
  &__body {
    @media (min-width: em(1181)) {
      display: flex;
      align-items: center;
    }

    @media (max-width: em(1180)) {
      position: fixed;
      top: 100%;
      left: 0;
      z-index: 4;
      width: 100%;
      height: 100%;
      padding: 140px 20px 20px;

      background-color: #bdb4e0;
      overflow: auto;
      transition: all 0.5s ease-in-out;

      @media (max-width: em(620)) {
        @include adaptiveValue("padding-top", 140, 90);
      }

      .menu-open & {
        top: 0;
      }
    }
  }
  // .menu__list
  &__list {
    @media (min-width: em(1181)) {
      display: flex;
    }
  }
  // .menu__item
  &__item {
    @media (min-width: em(1181)) {
      @include adaptiveValue("margin-right", 60, 1);
    }

    @media (max-width: em(1180)) {
      @include adaptiveValue("margin-bottom", 60, 20);
    }
  }
  // .menu__link
  &__link {
    font-size: rem(18);
    color: $mainColor;
    transition: color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: $mainHover;
      }
    }

    @media (max-width: em(1181)) {
      @include adaptiveValue("font-size", 40, 20);
    }
  }
  // .menu__link--submenu
  &__link--submenu {
    padding-right: 16px;
    background: url(../img/icons/arrow-down.svg) no-repeat right center;
  }
  // .menu__btn
  &__btn {
    @media (max-width: em(620)) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }
  // .menu__icon
  &__icon {
  }
}

.icon-menu {
  display: none;
  @media (max-width: em(1180)) {
    display: block;
    position: relative;
    width: 22px;
    height: 9px;
    cursor: pointer;
    z-index: 5;
    background-color: transparent;

    &__line {
      width: 100%;
      height: 2px;
      background-color: $mainBlue;

      &:first-child,
      &:last-child {
        position: absolute;
        left: 0;

        transition: all 0.3s;
      }

      &:first-child {
        top: 0;
      }

      &:last-child {
        bottom: 0;
      }

      .menu-open & {
        &:first-child {
          transform: rotate(45deg);
        }

        &:last-child {
          transform: rotate(-45deg);
          bottom: 7px;
        }
      }
    }
  }
}
