@use "sass:math";

@import "base/mixins";

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Libre+Caslon+Text&display=swap");

$fontFamily: "Heebo", sans-serif;
$fontSize: rem(16);

$mainColor: #232323;
$mainBlue: #1976d2;
$mainGrey: #989898;
$mainHover: #660000;
$mainButtons: #f9f9f9;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1666;
$containerPadding: 36;
$containerWidth: $maxWidthContainer + $containerPadding;

@import "base/null";

body {
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }
}

[class*="__container"] {
  @if ($maxWidthContainer>0) {
    max-width: rem($maxWidthContainer);
    box-sizing: content-box;
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    padding: 0 rem(math.div($containerPadding, 2));
  }
}

@import "base";
@import "common";
@import "top-menu";
@import "header";
@import "steps";
@import "footer";
